altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
arrow==1.3.0
asgiref==3.8.1
async-timeout==5.0.1
asyncgui==0.6.3
asynckivy==0.6.4
autoplay==0.5.0
autopy==4.0.1
certifi==2026.1.4
cffi==1.17.1
chardet==5.2.0
click==8.1.7
clitoo==1.0.2
colorama==0.4.6
colored==2.3.0
comtypes==1.1.14
cookiecutter==2.6.0
cryptography==45.0.5
customtkinter==5.2.2
darkdetect==0.8.0
DateTime==5.1
decorator==5.2.1
decouple==0.0.7
distlib==0.3.6
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.3
django-appconf==1.0.5
django-cacheops==6.1
django-ckeditor==6.5.1
django-crispy-forms==2.3
django-filter==24.3
django-imagekit==5.0.0
django-jazzmin==2.6.1
docutils==0.22.4
env==0.1.0
funcy==1.18
future==1.0.0
geocoder==1.38.1
gunicorn==21.2.0
h11==0.16.0
helper==2.5.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.4
jiter==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
materialshapes==0.3
materialyoucolor==2.0.10
mdurl==0.1.2
MouseInfo==0.1.3
mysql-connector-python==9.3.0
nose==1.3.7
ormsgpack==1.12.0
packaging==26.0
pandas==2.3.3
peewee==3.16.2
pefile==2023.2.7
pilkit==3.0
pillow==12.1.0
platformdirs==3.1.1
processcontroller==1.5.0
psycopg2-binary==2.9.11
pyinstall==0.1.4
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
qrcode==7.4.2
ratelim==0.1.6
redis==7.1.0
repath==0.9.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.4.1
sqlparse==0.4.3
starlette==0.38.6
tenacity==9.1.2
text-unidecode==1.3
tk==0.1.0
tkintermapview==1.29
toml==0.10.2
tornado==6.4.1
tqdm==4.67.1
types-python-dateutil==2.9.0.20250708
typing_extensions==4.12.2
tzdata==2022.7
ua-parser==0.18.0
urllib3==2.6.3
user-agents==2.2.0
uvicorn==0.31.0
virtualenv==20.21.0
waitress==3.0.2
watchdog==4.0.2
whitenoise==6.7.0
xxhash==3.6.0
zope.interface==5.5.2
zstandard==0.25.0



